.card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #322932;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nombre {
    width: 100%;
}

.parrafo{
    max-width: 100%;
}